<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="https://avatars3.githubusercontent.com/u/150474?s=175" alt="My avatar"/>
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}


      {% comment %}
	The custom var "version" is used in the download link for a complete ZIP of the web site.
	I'm not using that right now and don't yet know how to set a version.
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      {% endcomment %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/master.zip">Download a zip of the site</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Site source on GitHub</a>
      {% comment %}
	See previous comment.
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
      {% endcomment %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="http://feeds.feedburner.com/PeterWhittaker"><img src="http://feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="RSSicon" /> RSS Feed (atom syndication)</a>
    </nav>

    <p><small>&copy; {{ site.time | date: '%Y' }}. Unmodified code under its original license. Original code under <a href="https://www.mozilla.org/MPL/2.0/">MPL 2.0</a>. Modified code under the MPL if permitted, the original license otherwise. Blog posts  under <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ca/">CC-BY-NC-SA</a>. All other rights reserved. Contact me for more information and for other licensing alternatives.</small></p>
  </div>
</div>
