<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% comment %}
    Be very careful: CSS class names are case-insensitive, but HTML class names
    are CaSe-SeNSiTiVe. Sigh. So "...1D" just doesn't work.

    At least, that was my experience. According to the docs and standards,
    case should matter nowhere - but change 1d to 1D below, and BAM! no more
    sidebar....
  {% endcomment %}

  {% comment %}
    For testing various themes.... ...1d is my default
  <body class="theme-base-08">
  <body class="theme-base-09">
  <body class="theme-base-0a">
  <body class="theme-base-0b">
  <body class="theme-base-0c">
  <body class="theme-base-0d">
  <body class="theme-base-1d">
  <body class="theme-base-0e">
  <body class="theme-base-0f">
  {% endcomment %}
  <body class="theme-base-1d">

<!-- Add a nav bar here, eventually -->

    {% include sidebar.html %}

<!-- remove masthead, add a nav bar above the sidebar, eventually -->

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

        <div class="container content">
    
          <main>
            {{ content }}
          </main>
    
        </div>

   </div> <!-- wrap --> 

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

  </body>
</html>
